body{
    margin: 0;
    background-image: url('/img/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'stone';
}
#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start-box{
    height: 60%;
    width: 40%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
}
#start-button{
    cursor: pointer;
}
#name-box span{
    font-size: 70px;
    color: rgb(153, 73, 7);
}
@font-face {
    font-family: 'stone';
    src: url('fonts/stone-age-font/StoneAge-OV4AO.ttf'),
    /* Add additional font formats if necessary */
}